.title1 {
  font-size: 5vw; 
  font-family: verdana; 
  color: #2d2727;
  font-weight: 900;
}
.title2 {
  font-size: 4vw; 
  font-family: verdana; 
  color: #444;
}

body {
    height: 100%;
    width: 100%;
    background-color: #827e7e4f;
    transition: all 500ms linear;
    transition-delay: 1s;
}

body:hover{
    /*background-color: #111;*/
}

.box {
    position: relative;
    float: left;
    display: block;
    overflow:hidden;
    width: 0;
    height: 0;
    color: transparent;
    border-radius:5px;
    box-shadow:0 1px 5px #222 inset,0 1px 0 #666;
    background-color: #333;
    -webkit-transition: width 8s ease, height 8s ease, background-color 2s ease, -webkit-transform 2s ease-out, color 2s ease-out;
    transition: width 6s ease, height 6s ease, background-color 2s ease, transform 4s ease-out, color 2s ease-out;
    z-index:0;
}

.box-visible {
    width: 100%;
    height: 34vw;
    z-index:0;
    color: #ccc;
    display: block;
}

/* calendar formatting */
table, th, td {
    border: 1px solid #333;
    border-collapse: collapse;
    color: #ffffff;
    
}

tr:nth-child(even) {background-color: #4f1d73;}
tr:nth-child(odd) {background-color: #bb60ff;}


th, td {
    padding: 15px;
}


/* the following code (until the next comment) came from an excellent w3schools tutorial, but I edited it a lot to fit my needs. */
.button {
  border-radius: 6px;
  background-color: #f1f511fa;
  border: none;
  color: #544747;
  text-align: center;
  font-size: 36px;
  padding: 10px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 12px;
  z-index:1;
}

.button span {
  position: absolute;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  z-index:1;
}

.button span:after {
  content: '\21E2';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
  z-index:1;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
  z-index:1;
}

/* I did actually write the following code */
.footer {
  font-size:1vw; 
  font-family:verdana;
  color: #555;
}
